gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter/Dart
/build/
.dart_tool/
.packages
pubspec.lock

# Android
/android/app/build/
/android/.gradle/
*.apk
*.aab
*.so
*.sym
*.zip

# iOS
/ios/Pods/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# macOS, Windows, Linux builds
/macos/Flutter/ephemeral/
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
